@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-container {
  position: relative; /* Necesario para que el spinner esté posicionado respecto a este contenedor */
  width: 100%;
  height: 300px; /* Ajusta el alto como necesites */
  background-color: #f8f8f8;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que cubra todo el contenedor si se necesita */
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
  z-index: 10; /* Asegura que el spinner esté sobre el contenido */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-gradient-primary {
  background: linear-gradient(to right, #72cb10, #a9e159);
  color: white; /* Asegura que el texto sea blanco para buena legibilidad */
  border-color: #72cb10;
}
.bg-primary {
  background-color: #72cb10;
  color: white; /* Asegura que el texto sea blanco para buena legibilidad */
  border-color: #72cb10; /* Asegura que el borde sea del mismo color que el fondo */
}

.bg-primary-menu {
  background-color: #72cb10;
  color: white; /* Asegura que el texto sea blanco para buena legibilidad */
  border-color: #72cb10; /* Asegura que el borde sea del mismo color que el fondo */
}

.bg-primary:hover {
  background-color: #a9e159; /* Un tono más oscuro para el hover */
  color: white;
}

.text-primary {
  color: #72cb10;
}
.text-primary:hover {
  color: #b9cbd4; /* Un tono más oscuro para el hover */
}

.bg-menu-primary {
  background-color: #434343;
  color: #ced0d4; /* Asegura que el texto sea blanco para buena legibilidad */
}
.btn-attr-sing-out {
  width: 100%;
  text-align: left;
}

.text-primary-contrast {
  color: #434343; /* Asegura que el texto sea blanco para buena legibilidad */
}

.bg-add-options {
  background-color: #f2e269;
  border-color: #f2e269; /* Asegura que el borde sea del mismo color que el fondo */
  color: #878937;
}

.bg-card-green {
  background-color: #ecece8;
  color: #2c2d2f;
}

.bg-add-options:hover {
  background-color: #be9e48; /* Un tono más oscuro para el hover */
  color: white;
}

.bg-remove-list {
  background-color: #ce2029;
  border-color: #ce2029; /* Asegura que el borde sea del mismo color que el fondo */
  color: white;
}
.bg-remove-list:hover {
  background-color: #cd5c5c; /* Un tono más oscuro para el hover */
  color: white;
}

.text-edit{
  color: #a7b811;
}

.text-edit:hover{
  color: #6e5b28;
}

.text-cancel{
  color: #d71212;
}

.text-cancel:hover{
  color: #864e42;
}

.bg-image-full-sreen {
  background-image: url('/background-fc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
